<!DOCTYPE html>
<html lang="{{ Locale }}">
<head>
	<meta charset="{{ Encodage }}" />
	<base href="{{SitePath}}" />
	<title>{{ metaTitle }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="author" content="{{ metaAuteur }}" />
	<meta name="description" content="{{ metaDesc }}" />
	<meta name="keywords" content="{{ metaKw }}" />
	{% block preJs -%}
	<!--[if lte IE 9]> 
		<script text="text/javascript" src="{{JsPath}}html5.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{{CssPath}}ie.min.css" />
	<![endif]-->
	{% endblock %}
	{%- block css %}
	<link rel="stylesheet" type="text/css" title="{{SiteNom}}" href="{{CssPath}}style.min.css" />
	{% endblock %}
	{%- block headProperties %}
	<link rel="start" href="./" title="Accueil" />
	<link rel="help" href="politique-accessibilite.html" title="Accessibilité" />
	<link rel="accesskeys" href="politique-accessibilite.html#accesskeys" title="Raccourcis et Accesskeys" />
	<link rel="shortcut icon" href="{{ ImgPath }}favicon.ico" type="image/ico" />
	{% endblock %}
	<link rel="alternate" type="application/rss+xml" href="feed.xml" title="News (RSS)" />
	<link rel="alternate" type="application/rss+xml" href="feed.xml?excerpt=1" title="News - extrait (RSS)" />
	<link rel="alternate" type="application/atom+xml" href="feed.xml?feed=atom" title="News (Atom)" />
	<link rel="alternate" type="application/atom+xml" href="feed.xml?feed=atom&excerpt=1" title="News - extrait (Atom)" />
</head>

<body>

<header id="header">
{% block header %}
	<h1><a href="{{SitePath}}">{{SiteNom}}</a></h1>
	<p>{{SiteDesc}}</p>
{% endblock header %}
</header>

<div id="content">
{% block nav %}
{% if not nomenu %}
	{% include 'helper/menu.html.twig' %}
{% endif %}
{% endblock %}
{% block content %}
{% endblock content %}
</div>

<footer>
{% block footer %}
	<nav role="navigation">
		<ul>
			<li><a href="{{ SitePath }}" accesskey="1">Accueil</a></li>
			<li><a href="contact.html" accesskey="7">Nous contacter</a></li>
			<li><a href="qui-sommes-nous.html">Nous connaître</a></li>
			<li><a href="activites.html">Nos activités</a></li>
			<li><a href="evenements.html" accesskey="2">Evénements</a></li>
			<li class="last"><a href="sitemap.html" accesskey="3">Plan du site</a></li>
		</ul>
	</nav>
	<p>
		© 2016 {{SiteNom}}<br />
		Tous droits réservés
		<a href="administration.html" class="hide">&#160;&#160;&#160;</a>
		<a href="{{CurrentPath}}#mainContent" accesskey="s" class="hide"></a>
		<a href="sitemap.html"  accesskey="5" class="hide"></a>
		<a href="politique-accessibilite.html#accesskeys"  accesskey="0" class="hide"></a>
		<a href="politique-accessibilite.html"  accesskey="6" class="hide"></a>
		{% if Duration is defined %}{{Duration}} seconds{%endif%}
	</p>
	<p class="membership">
		Le CEP est membre du
		<a href="http://lecnef.org" class="cnef">CNEF</a>
		et des
		<a href="http://caef.net" class="caef">CAEF</a> 
	</p>
{% endblock %}
</footer>

{% block js %}
{% endblock %}
</body>
</html>
