{% extends 'admin/layout.html.twig' %}

{% block SubTitle %}
 - {% if 0 == Actualite.id %}Ajouter{% else %}Modifier{% endif %} une news
{% endblock %}

{% block AdministrationBody %}
{{ FlashMessage|raw }}
<p><a href="administration.html">Administration</a> > {% if 0 == Actualite.id %}Ajouter{% else %}Modifier{% endif %} une news</p>
<aside class="conseil">
<p class="conseilHandler">Quelques conseils...</p>
	<ul{% if 0 == DisplayHelp %} style="display: none"{% endif %}>
		<li>Plus une news est courte, mieux c'est ! Aux alentours de 140 caractères c'est pas mal.</li>
		<li>Il est possible de préciser une date de fin à une news, ce qui devrait permettre d'éviter que le site ne ressemble à un site fantôme en cas d'inactivitée prolongée.</li>
	</ul>
</aside>

<form action="{{ UrlCourant }}" method="post" id="formNews" class="form">
	<div>
		<label for="title">Titre</label>
			<input type="text" name="title" id="title" value="{{Actualite.titre}}" placeholder="Titre" size="25" />
	</div>
	<div>
		<label for="content" class="requis">Contenu</label>
			<textarea name="content" id="content" rows="25" class="editor" placeholder="Si vous avez quelque chose à nous dire, c'est ici !" tabindex="{% set tabindex = tabindex+1 %}{{ tabindex }}">{{Actualite.contentRaw}}</textarea>
	</div>
	<div>
		<label for="date_start">Date de début<br />de l'affichage</label>
			<input type="date" name="date_start" id="date_start" value="{{Actualite.dateTimeStart|date('d/m/Y')}}" />
	
		<label for="date_end">Date de fin<br />de l'affichage</label>
			<input type="date" name="date_end" id="date_end" value="{{Actualite.dateTimeEnd|date('d/m/Y')}}" />
	</div>
	<div>
		<label for="state">Etat</label>
			<select name="state" id="state" class="mini">
				<option value="1"{{ 1 == Actualite.etat ? ' selected="selected"' : '' }}>Activé</option>
				<option value="0"{{ 0 == Actualite.etat ? ' selected="selected"' : '' }}>Désactivé</option>
			</select>
	</div>
	<div class="formEnd">
		<input type="submit" name="sendNews" id="sendNews" value="{% if 0 == Actualite.id %}Ajouter{% else %}Modifier{% endif %}" />
		<input type="hidden" name="id" id="id" value="{{Actualite.id}}" />
		<a href="administration.html">Annuler</a>
	</div>
</form>

{% endblock %}


{% block css %}
{{ parent() }}
<link rel="stylesheet" href="{{CssPath}}redactor.min.css" />
<link type="text/css" rel="stylesheet" href="{{CssPath}}ui-lightness/jquery-ui.min.css" />
{% endblock css %}

{% block js %}
{{ parent() }}
<script type="text/javascript" src="{{JsPath}}jquery.min.js"></script>
<script type="text/javascript" src="{{JsPath}}jquery-ui.js"></script>
<script type="text/javascript" src="{{JsPath}}jquery.ui.datepicker-fr.js"></script>
<script type="text/javascript" src="{{JsPath}}redactor.js"></script>
<script type="text/javascript" src="{{JsPath}}redactor-fr.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	// -- Editor
	var buttons = ['html', '|', 'formatting', '|', 'bold', 'italic', 'deleted', '|',
	               		'fontcolor', 'backcolor', '|',
	                   'unorderedlist', 'orderedlist', 'outdent', 'indent', '|',
	                   'alignleft', 'aligncenter', 'alignright', 'justify', '|',
	                   'link', 'image', 'file', 'video',  '|',
	                   'more']
	$('.editor').redactor({
		lang: 'fr',
		imageUpload: 'upload-picture.html',
		fileUpload: 'upload-file.html',
		imageGetJson: 'galery.json',
		minHeight: '200',
		buttons: buttons,
		buttonsCustom: {
			more: {
				title: 'More',
				callback: buttonMore
			}
		}  
	});

	// -- Date picket
	$.datepicker.setDefaults( $.datepicker.regional['fr'] );
	$('#date_start').datepicker({'dateFormat': 'dd/mm/yy'});
	$('#date_end').datepicker({'dateFormat': 'dd/mm/yy'});

	// -- Conseil
	$('.conseilHandler').click(function() {
		$(this).parent().find('ul').toggle('slow');
	});
});

function buttonMore(obj, event, key)
{
	obj.execCommand('insertHtml', '[Lire la suite]');
}
</script>
{% endblock js %}


