{% extends 'admin/layout.html.twig' %}

{% block SubTitle %}
 - Modifier une page
{% endblock %}

{% block AdministrationBody %}
{{ FlashMessage|raw }}
<p><a href="administration.html">Administration</a> - Modifier une page</p>

<form action="{{ UrlCourant }}" method="post" id="formNews" class="form">
	<div>
		<label for="content" class="requis">Contenu</label>
			<textarea name="content" id="content" placeholder="Si vous avez quelque chose à nous dire, c'est ici !" rows="25" required="required" class="editorPage">
			{{content.content}}
			</textarea>
	</div>
	<div>
		<label for="title" class="requis">Titre</label>
			<input type="text" name="title" id="title" value="{{content.title}}" placeholder="Titre de la page pour les moteurs de recherche" required="required" length="140" />
	</div>
	<div>
		<label for="abstract" class="requis">Résumé</label>
			<input type="text" name="abstract" id="abstract" value="{{content.abstract}}" placeholder="Résumé pour les moteurs de recherche" required="required" length="140" />
	</div>
	<div>
		<label for="keywords" class="requis">Mots-clés</label>
			<input type="text" name="keywords" id="keywords" value="{{content.keywords}}" placeholder="Mots-clés (séparés par des virgules) pour les moteurs de recherche" required="required" length="140" />
	</div>
	<div class="formEnd">
		<input type="hidden" name="id" id="id" value="{{content.id}}" />
		<input type="hidden" name="url" id="url" value="{{content.url}}" />
		<input type="submit" value="Enregistrer" class="mini" />
		<a href="administration.html">Annuler</a>
	</div>
</form>

{% endblock %}