{% extends 'base.html.twig' %}

{% block content %}
<article id="mainContent" role="main" class="page {{ page.url }}" itemscope itemtype="http://schema.org/Organization">
{{ page.content|raw }}	

<h2 id="email">Nous contacter par email</h2>
<p>N'hésitez pas à nous contacter à l'aide des adresses emails suivantes&#160;:</p>
<ul>
	<li itemprop="contactPoints" itemscope itemtype="http://schema.org/ContactPoint"><span itemprop="contactType">Un responsable de l'église</span>&#160;: <img src="{{UrlImgEmailContact}}" alt="Email de l'église" class="email" itemprop="email" /></li>
	<li itemprop="contactPoints" itemscope itemtype="http://schema.org/ContactPoint"><span itemprop="contactType">Les Flambeaux</span>&#160;: <img src="{{UrlImgEmailFlambeaux}}" alt="Email des Flambeaux" class="email" itemprop="email" /></li>
	<li itemprop="contactPoints" itemscope itemtype="http://schema.org/ContactPoint"><span itemprop="contactType">Le groupe de jeunes</span>&#160;: <img src="{{UrlImgEmailGDJ}}" alt="Email du GDJ" class="email" itemprop="email" /></li>
</ul>
	
<p>Ou à l'aide du formulaire ci-dessous&#160;:</p>
{% include 'contact/form/contact.html.twig' %}

</article>
{% endblock content %}

{% block js %}
<script src="{{JsPath}}contact.min.js"></script>
{{parent()}}
{% endblock js %}

