{% extends 'admin/layout.html.twig' %}

{% block SubTitle %}
 - Galerie
{% endblock %}

{% block AdministrationBody %}
{{ FlashMessage|raw }}

{% for image in images %}
    <a href="{{ image.image }}" title="{{ image.title }}">
        <img src="{{ image.thumb }}" alt="{{ image.title }}" width="{{ image.width }}" height="{{ image.height }}"/>
    </a>
{% else %}
Il n'y a aucun fichier pour l'instant.
{% endfor %}

{% include 'upload/form/upload.html.twig' %}
{% endblock %}