{% extends 'base.html.twig' %}

{% block content %}
<div id="mainContent" role="main">
<article id="actualites" class="actualitesPage page">
	<figure>
		<img src="{{ImgPath}}contact.png" alt="Actualités" />
	</figure>
	
	<header>
		<h1>Dernières Nouvelles</h1>
	</header>
	{% include 'helper/paginator-top.html.twig' %}
	{% for actualite in actualites %}
		<article class="actualite">
			<header>
				<h2><a href="evenement-{{actualite.id}}.html">{{actualite.titre}}</a></h2>
				<p>{{actualite.dateTimeStart|date('d/m/Y')}}</p>
			</header>
			<div class="texte">{{actualite.extrait|raw}}</div>
		</article>
		<div style="clear: both;"></div>
	{% else %}
	<p>Aucun événement en ce moment.</p>
	{% endfor %}
	{% include 'helper/paginator-bottom.html.twig' %}
</article>
</div>
{% endblock content %}
